name: Release

on:
  release:
    types: [released]

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@stable

      - name: Publish Crate
        run: cargo publish --token ${{ secrets.CARGO_REGISTRY_TOKEN }}
